body {
  
 
    padding-top: 70px;
    }
    
.container {
      

      
.pa{
    padding: 20px;
    border-radius: 10px;
    
   
  color: white;
}


}

.contenedor {
    font-family: "Roboto Slab", 
    serif;
}
.contenedor-5{
    font-family: "Roboto Slab", 
    serif;
}